* {
  margin: 0;
  padding: 0;
}
.teaHeader {
  height: 60px;
  background-color: #409EFF;
  padding: 20px;
}
.class_item:nth-child(n+1) {
  font-size: 12px;
  border-bottom: 1px solid #666;
  padding: 5px;
  position: relative;
}

.class_item .info{
  position: absolute;
  right: 20px;
  top: 10px;
}